<%- include("partials/header.ejs") %>
<body>
    <a href="/refresh"> Refresh</a>
    <form action="/submit" method="POST">
        <label for="blogType">Blog classification:</label><br>
        <select list="blogTypeList" name="blogType" id="blogType" required>
            <option value="No category">Select blog category</option>
            <option value="Life">Life</option>
            <option value="Travel">Travel</option>
            <option value="Work">Work</option>
            <option value="Food">Food</option>
            <option value="Others">Others</option>
        </select><br>
        <label for="blog">Write your mind:</label><br>
        <textarea type="text" id="blog" name="blog" placeholder="Blog" required></textarea><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>