<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <a href="/refresh"> Refresh</a>
    <form action="/submit" method="POST">
        <label for="blogType">Blog classification:</label><br>
        <input type="text" id="blogType" name="blogType" placeholder="life, sports, travel etc."><br>
        <label for="blog">Write your mind:</label><br>
        <textarea type="text" id="blog" name="blog" placeholder="Blog"></textarea><br>
        <input type="submit" value="Submit">
      </form>
      <a href="/blogs"> AllBlogs</a>
</body>
</html>